<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta name="baidu-site-verification" content="t7oDT96Amk">
<title>我的地址</title>
<meta content="" name="keywords">
<meta content="" name="description">
<meta name="sogou_site_verification" content="G7nmLR75yc">
<meta name="baidu-tc-cerfication" content="0a8c6d28b570b218f78510c29be4529b">
<meta name="360-site-verification" content="8b6121969d78afda8caeb69053fa29d9">


<link rel="stylesheet" href="/static/style/c3e09ac36d.css">

<link rel="stylesheet" href="/static/style/86fe49ca90.css">
<link rel="stylesheet" type="text/css" href="/static/style/footer.css">

<script>__STAT.add('head_load');</script>

</head>

<body style="padding-bottom: 45px;" class=" hPC">



<!--客户端下载的图片-->
 

		<header id="header" class="u-header clearfix">
	    <!--返回按钮根据程序判断来源，返回上一级-->
		 		 <!-- 非微信扫码进入的用户 -->
	    <div class="u-hd-left f-left">
                <a href="/user" class="J_backToPrev"><span class="u-icon i-hd-back"></span></a>
                </div>
			     <div class="u-hd-tit"><span>地址列表</span></div>
		       	    
      		 	</header>
	

<a href="/index.php?m=user&amp;act=address&amp;step=edit&amp;filter=add" data-addaddress="true" class="textlink fl">新增收货地址+</a>
<div class="clear"></div>
<div class="u-addrbox userdiv">
  <div class="addr_box">
    <p>向暖<span class="addr_tel">15127085963</span></p>
    <p class="clear"></p>
    <p>河北省石家庄市</p>
    <span class="moren" style="display:none;">默认</span>  </div>
  <div class="addr_ope">
    <a href="javascript:;" data-addressid="51318775" data-address="del" mars_sead="checkout_del_address_radio"><span class="delete"></span>删除</a>
    <a href="/index.php?m=user&amp;act=address&amp;step=edit&amp;filter=update&amp;address_id=51318775" mars_sead="checkout_edit_address_radio"><span class="edi"></span>修改</a>
  </div>
</div>
<script>
var countAddressList = 1;
</script>
<!--以下是翻页的样式-->
<!--以下是翻页的样式-->
<div class="pagediv clearfix">
<div class="fl page">
        <span>1/1</span>
</div>
</div>

  		  	  	  <div class="layout-login-area" id="footer">
			     <div class="layout-login">
						<span class="layout-lg-bar">alexdamocles@qq.com </span>
						<span class="layout-new-fr"><a href="">反馈</a></span>
			     </div>

			     <div class="layout-copyright">© 西咸-陕服 版权所有</div>
	      </div>
	
<!--以下是底部样式-->
<div style="display: block;" class="footer_bar openwebview">
        <ul class="warp clearfix">
            <li><!--<li class="on">-->
                <a href="/" page_click_button="底部_首页">
                    <i class="new_icon"></i>
                    <span>首页</span>
                </a>
            </li>
            <li>
                <a href="fenlei" page_click_button="底部_品牌">
                    <i class="new_icon"></i>
                    <span>分类</span>
                </a>
            </li>
            <li>
                <a href="user" data-url="/i/index" page_click_button="底部_我的" class="to_personalcenter personalcenternum">
                    <i class="new_icon"><strong style="display: none;"></strong></i>
                    <span>我的</span>
                </a>
            </li>
            <li>
                <a href="gouwuche" data-url="/shoppingcart/index" page_click_button="底部_购物车" class="new_car_center">
                    <i class="new_icon"><strong style="">2</strong></i>
                    <span>购物车</span>
                </a>
            </li>
        </ul>
    </div>

      <a href="#top" class="u-backtop" mars_sead="home_foot_top_btn"></a>
    
  <!--以下是浮于显示屏左下角的购物袋-->
  
  
</body></html>