{% extends 'user_base.html' %}
{% block content %}
		<header id="header" class="u-header clearfix">

	    <div class="u-hd-left f-left">
                <a href="javascript:void(0)" class="J_backToPrev"><span class="u-icon i-hd-back"></span></a>
                </div>
			     <div class="u-hd-tit"><span>个人中心</span></div>

   </header>

<!-- 未登录 -->
<div class="userinfo">
  <div class="userinfo_content">
		<p class="username">{{username}}</p>
  </div>
</div>

 <!--三种状态的订单-->
<div class="userdiv user_order">
  <ul class="order_state clearfix">
    <li>
            <a href="" class="">
        <span class="wait_pay"></span>
        <p>待支付<em>1</em></p><!--这个1是上角标未来要绑定数据库-->
      </a>
          </li>
    <li>
            <a href="//user-order-list-unreceive.html" class="">
        <span class="wait_delivery"></span>
        <p>待收货
                  </p>
      </a>
          </li>
    <li>
      <a href="//user-order-list-more.html" class="">
        <span class="all_orders"></span>
        <p>更多订单</p>
      </a>
    </li>
  </ul>
 </div>


<div class="s_links in_user_center userdiv">
  <a href="xinzeng_dizhi.html"><em class="s_addr"></em>配送地址<span></span></a>
</div>

<div class="s_links in_user_center userdiv">
  <a href="xinzeng_dizhi.html"><em class="s_fav"></em>帮助中心<span></span></a>
</div>
{% endblock %}

