<!DOCTYPE html>
<style type="text/css">
    body{color: rgb(255, 255, 255);background: #000000;padding: 0 5em;margin: 0}
    h1{
        padding: 2em;
        background: rgba(14, 174, 24, 0.55)
    }
    h2{color: #e3ffb6;
        border-top: 1px dotted #a0b3ff;
        margin-top: 2em }
    p{margin: 1em 0 }
</style>
<body>
<h1>welcome to my bolg</h1>
<h3 class="postTitle"><a id="cb_post_title_url" class="postTitle2" href="http://127.0.0.1:8000/bolg/richang/">日常琐事</a></h3>
{% block content %}
{% endblock %}
</body>